Rest_Assured_Automation/resources/xmlschema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="current">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="city">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="coord">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                    <xs:attribute name="lon" type="xs:string"/>
                                    <xs:attribute name="lat" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:integer" name="timezone"/>
                            <xs:element name="sun">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                    <xs:attribute name="rise" type="xs:string"/>
                                    <xs:attribute name="set" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"/>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="temperature">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="min" type="xs:string"/>
                        <xs:attribute name="max" type="xs:string"/>
                        <xs:attribute name="unit" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="feels_like">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="unit" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="humidity">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="unit" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pressure">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="unit" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="wind">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="speed">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                    <xs:attribute name="value" type="xs:string"/>
                                    <xs:attribute name="unit" type="xs:string"/>
                                    <xs:attribute name="name" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="gusts"/>
                            <xs:element type="xs:string" name="direction"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="clouds">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="visibility">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="precipitation">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="mode" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="weather">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="number" type="xs:string"/>
                        <xs:attribute name="value" type="xs:string"/>
                        <xs:attribute name="icon" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lastupdate">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>